
/* ctrl + ? uždeda komentarus */body

/* selector{
    property:value;
 }
  */


{
    background-color: antiquewhite;
}

h1{
    color: greenyellow;
    font-size: 60px;
    background-color: bisque;

}